In [11]:
import pytz as tz
from datetime import datetime
import pandas as pd

In [7]:
#Creating example dataset
d = {'timestamp':['2010-10-19T23:55:27Z','2010-10-11T20:21:20Z']}
df = pd.DataFrame(data=d)
df

              timestamp
0  2010-10-19T23:55:27Z
1  2010-10-11T20:21:20Z

In [8]:
#parsing the datetime, change parser to fit your datetime string
def parse_datetime(s):
    tzone = tz.timezone("America/New_York")
    utc = datetime.strptime(s, '%Y-%m-%dT%H:%M:%SZ')
    return tz.utc.localize(utc).astimezone(tzone)

In [13]:
df['ts'] = df['timestamp'].apply(lambda x: parse_datetime(x))
df

              timestamp                        ts
0  2010-10-19T23:55:27Z 2010-10-19 19:55:27-04:00
1  2010-10-11T20:21:20Z 2010-10-11 16:21:20-04:00

In [15]:
df['date']  = df['ts'].astype(object).apply(lambda x : x.date())
df['time']  = df['ts'].astype(object).apply(lambda x : x.time())
df

              timestamp                        ts        date      time
0  2010-10-19T23:55:27Z 2010-10-19 19:55:27-04:00  2010-10-19  19:55:27
1  2010-10-11T20:21:20Z 2010-10-11 16:21:20-04:00  2010-10-11  16:21:20

In [16]:
#day of the week (localtime)
#hour of the day (localtime)
df['wd']  = df['date'].astype(object).apply(lambda x : x.weekday())
df['d']   = df['date'].astype(object).apply(lambda x : x.day)
df['h']   = df['time'].astype(object).apply(lambda x : x.hour)
df

,timestamp,ts,date,time,wd,d,h
0,2010-10-19T23:55:27Z,2010-10-19 19:55:27-04:00,2010-10-19,19:55:27,1,19,19
1,2010-10-11T20:21:20Z,2010-10-11 16:21:20-04:00,2010-10-11,16:21:20,0,11,16